.amazonmenu {
    display: none;
    position: absolute;
    padding-top: 16px;
}

.wisdom-menu-cate:hover .amazonmenu {
    display: block;
}

.amazonmenu:after, .amazonmenu:before {
    left: 1px;
    right: auto;
}

.amazonmenu:after {
    border-color: transparent transparent #fff;
    top: 3px;
}

.amazonmenu:before {
    border-color: transparent transparent #282828;
    top: 3px;
}

.amazonmenu:after, .amazonmenu:before {
    z-index: 99999;
    border-style: solid;
    border-width: 0 10px 13px;
    content: "";
    height: 0;
    position: absolute;
    right: 14px;
    width: 0;
}

.hassub i {
    width: 30px;
    text-align: center;
}

.amazonmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}

.amazonmenu ul li {
    position: static;
}

.amazonmenu > ul {
    background: #fff;
    border: 1px solid #eee;
    width: 270px;
    height: 535px;
    position: relative;
    box-shadow: 1px 1px 1px #ccc;
    z-index: 99
}

.amazonmenu > ul li span {
    color: #242424;
    display: block;
    overflow: auto;
    padding: 10px 0;
    position: relative;
    text-decoration: none;
    text-indent: 10px;
    cursor: pointer;
}

.amazonmenu > ul li span:hover{
    background: #eaebee;
    color: #0975b4;
}

/* .after {
    border: 5px solid transparent;
    border-left-color: gray;
    content: '';
    height: 0;
    position: absolute;
    right: 5px;
    top: 35%;
    width: 0;
} */

.amazonmenu > ul li.hassub.selected > a::after {
    border-left-color: #f58829;
}

.amazonmenu ul li a:hover, .amazonmenu ul li.hassub.selected > a {
    background: #f7f8fa;
    color: #0975b4;
}

.amazonmenu ul li > div, .amazonmenu ul li > ul {
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 1px 1px 1px #ccc;
    display: none;
    font-weight: normal;
    width: 305px;
    height: 535px;
    left: 100%;
    position: absolute;
    top: -1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;
}

.amazonmenu ul li > div, .amazonmenu ul li ul li a {
    padding-left: 10px;
}